spring:
  application:
    name: quick-meet
  datasource:
    url: jdbc:postgresql://localhost:5432/quick-meet
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        globally_quoted_identifiers: true
    show-sql: true


